.cartita {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.308) !important;
    padding: 10px 10px;
    .place {
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
        margin: 5px 0;
    }
    .temp {
        margin: 5px 0;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 100px;
        text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
    }
    .weather {
        margin: 5px 0;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
    }
}