body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .cold.hot {
    background: linear-gradient(to bottom, rgb(222, 85, 108), rgb(225, 194, 186));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }
  .cold {
    background: linear-gradient(to bottom, rgb(85, 202, 222), rgb(186, 225, 206));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    input {
      margin: 20px 0;
      border-style: none;
      border-radius: 10px;
      font-size: 20px;
    }
  
  }
}
